body{text-align: center;background-color: yellow;}
.box {height: 530px; width: 400px;padding: 10px;border: 2px solid black;background-color: lightblue;text-align: center;margin: 10px;}   
body {display: flex;justify-content: center;align-items: center;height: 100vh;margin: 0;}
ul{text-align: left;}
